<section class="w3l-blogluxe-hny" id="news">
		<section id="grids5-block" class="py-5">
			<div class="container py-lg-4">
				<div class="header-section text-center mx-auto">
					<h6 class="sub-title">We are here for you</h6>
					<h3 class="hny-title">Latest Posts</h3>

				</div>
				<div class="grid-view">
					<div class="row">
						<div class="col-lg-4 col-md-6 mt-5">
							<div class="grids5-info">
								<a href="blog-single.html" class="d-block zoom">
									<img src="assets/images/ab4.jpg" alt="" class="img-fluid news-image" />


								</a>
								<div class="blog-info">
									<p class="date">26 Apr, 2020</p>
									<a href="blog-single.html">
										<h4>Emergency Cleaning Tips For Your Big Day</h4>
									</a>
									<p class="blog-text">Lorem ipsum dolor sit amet nostrum ad minus libero fugiat
										molestiae ullam ipsam quas unde earum...</p>

								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mt-5">
							<div class="grids5-info">
								<a href="blog-single.html" class="d-block zoom">
									<img src="assets/images/ab5.jpg" alt="" class="img-fluid news-image" />


								</a>
								<div class="blog-info">
									<p class="date">26 Apr, 2020</p>
									<a href="blog-single.html">
										<h4>Speed Cleaning Tips From Cleaners</h4>
									</a>
									<p class="blog-text">Lorem ipsum dolor sit amet nostrum ad minus libero fugiat
										molestiae ullam ipsam quas unde earum...</p>

								</div>
							</div>
						</div>
						<div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 mt-5">
							<div class="grids5-info">
								<a href="blog-single.html" class="d-block zoom">
									<img src="assets/images/ab6.jpg" alt="" class="img-fluid news-image" />


								</a>
								<div class="blog-info">
									<p class="date">26 Apr, 2020</p>
									<a href="blog-single.html">
										<h4>The Benefits of Natural Cosmetics</h4>
									</a>
									<p class="blog-text">Lorem ipsum dolor sit amet nostrum ad minus libero fugiat
										molestiae ullam ipsam quas unde earum...</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>