<section class="features-grids-6">
		<div class="container">
			<div class="grids-area-hny main-cont-wthree-fea row">
				<div class="col-lg-4 col-md-6 grids-feature mb-md-0 mb-4">
					<div class="area-box">
						<span class="fa fa-bath"></span>
						<a href="#feature">
							<h4 class="title-head">Hydro Therapy</h4>
						</a>
						<p>Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 grids-feature mb-md-0 mb-4">
					<div class="area-box active">
						<span class="fa fa-american-sign-language-interpreting active"></span>
						<a href="#feature">
							<h4 class="title-head">Relaxing Massages</h4>
						</a>
						<p>Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 grids-feature mb-md-0 mb-4">
					<div class="area-box thrid">
						<span class="fa fa-flask"></span>
						<a href="#feature">
							<h4 class="title-head">Aroma Therapy</h4>
						</a>
						<p>Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla.</p>
					</div>
				</div>

			</div>
		</div>
	</section>	