<section class="w3l-main-slider position-relative" id="home">
		<div class="companies20-content">
			<div class="owl-one owl-carousel owl-theme">
				<div class="item">
					<li>
						<div class="slider-info banner-view bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg text-center">
										<h4 class="sub-font">Show the world a healthy face!</h4>
										<h5>Healing body, mind, and spirit!</h5>
										<div class="banner-buttons mt-md-5 mt-4">
											<a class="btn btn-style btn-primary" href="services.html">Our Services</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info  banner-view banner-top1 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg text-center">
										<h4 class="sub-font">Feel natural, be natural.</h4>
										<h5>Creating your beauty at New Level</h5>
										<div class="banner-buttons mt-md-5 mt-4">
											<a class="btn btn-style btn-primary" href="services.html">Our Services</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top2 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg text-center">
										<h4 class="sub-font">Show the world a healthy face!</h4>
										<h5>See yourself in a New Light.</h5>
										<div class="banner-buttons mt-md-5 mt-4">
											<a class="btn btn-style btn-primary" href="services.html">Our Services</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top3 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg text-center">
										<h4 class="sub-font">Feel natural, be natural.</h4>
										<h5>Creating your beauty at New Level</h5>
										<div class="banner-buttons mt-md-5 mt-4">
											<a class="btn btn-style btn-primary" href="services.html">Our Services</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
			<div class="banhny-timing">MON - Sun : 7:00AM - 8:00PM </div>
			<div class="banhny-left-botm">Natural & Glowing Makeup Look</div>
			<div class="scrollhny-btn">
				<a class="btn-btmhny scroll" href="#about">
					<div class="scroll-arrow"></div>
					<div class="scroll-arrow"></div>
					<div class="scroll-arrow"></div>
				</a>

			</div>

		</div>

	</section>