<section class="w3l-newsletter">
		<!-- /form-25-section -->
		<div class="form-25-main py-5">
			<div class="container py-lg-5">
				<div class="forms-25-info">
					<div class="title-content text-center">
						<h6 class="sub-title">Newsletter</h6>
						<h3 class="hny-title two">Subscribe to get the latest
							<br>news and updates.</h3>

					</div>

					<form action="#" method="post" class="signin-form mt-4 mb-2">
						<div class="forms-gds">
							<input type="text" name="" placeholder="Name" required />
							<input type="email" name="" placeholder="Email" required />
							<button class="btn btn-style btn-primary">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>