<section class="w3l-news-sec">
		<div class="news-mainhny py-5">
			<div class="container text-center py-lg-3">
				<div class="title-content text-center mb-lg-5 mb-4">
					<h6 class="sub-title">View</h6>
					<h3 class="hny-title">Our Gallery</h3>

				</div>
			</div>
			<div class="owl-news owl-carousel owl-theme">
				<div class="item">
					<div class="news-img position-relative">
						<a href="#"><img src="assets/images/ab.jpg" class="img-fluid" alt="news image"></a>
						<div class="title-wrap">
							<a href="#">
								<h4 class="title">Hydro Therapy</h4>
							</a>
							<a href="#" class="text-right"><span class="fa fa-arrow-right"></span></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="news-img">
						<a href="#"><img src="assets/images/ab1.jpg" class="img-fluid" alt="news image"></a>
						<div class="title-wrap">
							<a href="#">
								<h4 class="title">Hair Style</h4>
							</a>
							<a href="#" class="text-right"><span class="fa fa-arrow-right"></span></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="news-img">
						<a href="#"><img src="assets/images/ab2.jpg" class="img-fluid" alt="news image"></a>
						<div class="title-wrap">
							<a href="#">
								<h4 class="title">Pedicure</h4>
							</a>
							<a href="#" class="text-right"><span class="fa fa-arrow-right"></span></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="news-img">
						<a href="#"><img src="assets/images/ab3.jpg" class="img-fluid" alt="news image"></a>
						<div class="title-wrap">
							<a href="#">
								<h4 class="title">Facilas</h4>
							</a>
							<a href="#" class="text-right"><span class="fa fa-arrow-right"></span></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="news-img">
						<a href="#"><img src="assets/images/ab5.jpg" class="img-fluid" alt="news image"></a>
						<div class="title-wrap">
							<a href="#">
								<h4 class="title">Body Spa</h4>
							</a>
							<a href="#" class="text-right"><span class="fa fa-arrow-right"></span></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="news-img">
						<a href="#"><img src="assets/images/ab4.jpg" class="img-fluid" alt="news image"></a>
						<div class="title-wrap">
							<a href="#">
								<h4 class="title">Hair Spa</h4>
							</a>
							<a href="#" class="text-right"><span class="fa fa-arrow-right"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>