<section class="w3l-specification-6">
		<div class="specification-6-mian py-5">
			<div class="container py-lg-5">
				<div class="row story-6-grids py-lg-5">
					<div class="col-lg-10 story-gd pl-lg-4  text-center mx-auto">
						<div class="skill_info mt-lg-5 mt-4 pt-lg-4">
							<div class="stats_left">
								<div class="counter_grid">
									<div class="icon_info">
										<p class="counter">65</p>
										<h4>Massage Therapy</h4>

									</div>
								</div>
							</div>
							<div class="stats_left">
								<div class="counter_grid">
									<div class="icon_info">
										<p class="counter">165</p>
										<h4>Sauna</h4>

									</div>
								</div>
							</div>
							<div class="stats_left">
								<div class="counter_grid">
									<div class="icon_info">
										<p class="counter">463</p>
										<h4>Soften the heel</h4>

									</div>
								</div>
							</div>
							<div class="stats_left">
								<div class="counter_grid">
									<div class="icon_info">
										<p class="counter">5063</p>
										<h4>Happy Clients</h4>

									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>