<section class="w3l-testimonials">
		<div class="testimonials py-5">
			<div class="container text-center py-lg-3">
				<div class="title-content text-center mb-lg-5 mb-4">
					<h6 class="sub-title">Testimonials</h6>
					<h3 class="hny-title">What Our
						People Says?</h3>

				</div>
				<div class="row">
					<div class="col-lg-10 mx-auto">
						<div class="owl-testimonial owl-carousel owl-theme">
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="img-circle">
										<img src="assets/images/c2.jpg" class="img-fluid rounded" alt="client image">
									</div>
									<div class="message"><span class="fa fa-quote-left" aria-hidden="true"></span> Lorem
										ipsum dolor sit amet consectetur adipisicing elit. Ea sit
										id
										accusantium
										officia quod quasi necessitatibus perspiciatis Harum error provident
										quibusdam tenetur.</div>
									<div class="name">- Jenkins</div>

								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="img-circle">
										<img src="assets/images/c1.jpg" class="img-fluid rounded" alt="client image">
									</div>
									<div class="message"><span class="fa fa-quote-left" aria-hidden="true"></span> Lorem
										ipsum dolor sit amet consectetur adipisicing elit. Ea sit
										id
										accusantium
										officia quod quasi necessitatibus perspiciatis Harum error provident
										quibusdam tenetur.</div>
									<div class="name">- John Balmer</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="img-circle">
										<img src="assets/images/c3.jpg" class="img-fluid rounded" alt="client image">
									</div>
									<div class="message"><span class="fa fa-quote-left" aria-hidden="true"></span> Lorem
										ipsum dolor sit amet consectetur adipisicing elit. Ea sit
										id
										accusantium
										officia quod quasi necessitatibus perspiciatis Harum error provident
										quibusdam tenetur.</div>
									<div class="name">- Kiss Kington</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="img-circle">
										<img src="assets/images/c1.jpg" class="img-fluid rounded" alt="client image">
									</div>
									<div class="message"><span class="fa fa-quote-left" aria-hidden="true"></span> Lorem
										ipsum dolor sit amet consectetur adipisicing elit. Ea sit
										id
										accusantium
										officia quod quasi necessitatibus perspiciatis Harum error provident
										quibusdam tenetur.</div>
									<div class="name">- Elizabeth</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>