<section class="w3l-content-with-photo-4">
		<!-- /content-grids-->
		<div class="content-photo-info py-5">
			<div class="container py-lg-5">
				<!-- /row-->
				<div class="content-photo-grids">
					<div class="photo-6-inf-right">
						<h6 class="sub-title">Health & Relaxation</h6>
						<h3 class="hny-title">
							Our Philosophy
						</h3>
						<p class="mt-3">Lorem illum facere aperiam sequi optio consectetur adipisicing elitFuga,
							suscipit totam animi consequatur saepe blanditiis.Lorem ipsum dolor sit amet,Lorem ipsum
							dolor sit amet,sed do eiusmod tempor
							incididunt ut labore et dolore.</p>
						<div class="servehny-1">
							<div class="ser-sub">

								<a href="#link" class="ser1"><span class="fa fa-check"></span> Facials
								</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Body Treatments
								</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Waxing</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Massage</a>
							</div>
							<div class="ser-sub">
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Home cleaning
								</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Hands & Feet</a>

								<a href="#link" class="ser1"><span class="fa fa-check"></span>
									Aroma Therapy</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span>
									Tea Therapy</a>
							</div>
						</div>
						<div class="read-buttons">
							<a class="btn btn-style two btn-primary" href="services.html">Our Services</a>
							<a class="btn btn-style btn-primary" href="contact.html">Contact Us</a>
						</div>
					</div>

				</div>
				<!-- //row-->
			</div>
		</div>
	</section>